<!DOCTYPE html>
<html>


<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="static/d3.layout.cloud.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>

</head>

<body>

    <div id="mydiv">
    </div>

</body>



<script>



myVar = setInterval(
  function myFunction(){
     $.get("stream", function(data){
        console.log('were loading');
        $("#mydiv").html(data);
        console.log('loaded');
   
    });

$("#start_button").hide();
$("#reset_button").show();
    // $("#mydiv").load(location.href + " #mydiv");
}, 
  2000 // every 2 seconds
);



function myStopFunction() {
    clearTimeout(myVar);
}


function reset(){
	location.reload();
}


</script>




<button onclick="myFunction()" id="start_button">Start 🔑</button>

<button onclick="reset()" id="reset_button" style="display:none;">Reset</button>

<button onclick="myStopFunction()">Stop 🦀</button>



</html>






